@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #fff;
  --background-color: #0a192f;
  --green: #64ffda;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}
.noise {
  background: url("/public/noise.gif");
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -2 !important;
  opacity: 0.01;
}

.contianer {
  min-height: 100vh;
  position: relative;
  /* border: 1px solid red; */
  width: 90%;
  margin: 0 auto;
}

.navbar {
  border: 1px solid #64ffda !important;
  background: linear-gradient(137deg, #64ffdb4d 0%, rgba(0, 0, 0, 0) 15%);
}
.navbar li {
  border-color: rgba(255, 255, 255, 0.21);
}
.navbar li a {
  font-family: var(--font-inconsolatam) !important;
  display: block;
  /* transition: all 0.25s ease; */
  transform: translateX(25deg);
  -webkit-transform: translateX(25deg); /* Vendor prefix for WebKit browsers */
  -moz-transform: translateX(25deg);
  font-size: 0.85rem;
  padding: 0.15rem 0;
}
.navbar li .navbar-text {
  display: inline-block;
  opacity: 0.8;
  margin-left: 0.2rem;

  /* transition: all 0.1s ease; */
}
.navbar li a:hover .navbar-text {
  color: #64ffda;
  transform: skew(-12deg);
  -webkit-transform: skew(-12deg); /* Vendor prefix for WebKit browsers */
  -moz-transform: skew(-12deg);
}
.navbar-text-num {
  color: #64ffda;
}
main {
  padding-top: 5rem;
}
.title {
  /* border: 1px solid red; */
  color: #fff;
  /* font-family: Inter; */
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.name {
  font-size: 2rem;
  margin: 0.65rem 0;
  /* font-style: italic; */
}
.description {
  font-size: 0.9rem;
  opacity: 0.75;
}
.btn-container {
  margin-top: 1.2rem;

  position: relative;
  /* border: 1px solid red; */
}
.btn {
  padding: 0.5rem 2rem;
  border: 1px solid var(--green);
  border-radius: 5px;
  background: #0a192f;
  color: var(--green);
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  z-index: 9 !important;
  transition: all 0.25s ease;
}
.btn-bg {
  position: absolute;
  /* display: block; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid var(--green);

  top: 0;
  left: 0%;
  height: 100%;
  background: var(--green);
  z-index: -5 !important;
}
.btn:hover {
  transform: translate(-4px, -3px);
}
.socials,
.email {
  position: fixed;
  bottom: 0;
  left: 5%;
  transform: translateX(-50%);
  /* border: 1px solid white; */
}
.email {
  left: auto;
  right: 5% !important;
}
.email-text {
  width: 20px;
  transform: rotate(-90deg) translateY(-2.5px);
  color: rgba(236, 230, 230, 0.582);
}
.socials svg {
  cursor: pointer;
}
.socials svg:hover path {
  fill: var(--green);
}
.socials svg path {
  fill: rgba(236, 230, 230, 0.582);
  transition: all 0.2s ease;
}
.vertical-line {
  display: inline-block;
  height: 100px;
  width: 1px;
  background: var(--green);
  margin: 0 auto;
}
/* ----- Glitch ------*/
.glitch {
  position: absolute;
  width: auto;
}
#frontend {
  right: 10%;
  bottom: 33%;
  transform: rotate(-10deg);
  font-size: 7rem;
  /* border: 1px solid red; */
  font-weight: 900;
  width: auto;
}
#javascript {
  left: 10%;
  bottom: 23%;
  transform: rotate(-20deg);
  font-size: 2rem;
}
#javascript h1 {
  color: #64ffdb59;
}

#typescript {
  left: 30%;
  bottom: 15%;
  transform: rotate(6deg);
  font-size: 1.5rem;
}
#typescript h1 {
  color: #64ffdb59;
}

#react {
  left: 50%;
  bottom: 20%;
  transform: rotate(9deg);
  font-size: 1.2rem;
}
#react h1 {
  color: #64ffdb59;
}

#next {
  left: 38%;
  bottom: 30%;
  transform: rotate(-3deg);
  font-size: 1rem;
}
#next h1 {
  color: #64ffdb59;
}

#redux {
  left: 60%;
  bottom: 33%;
  transform: rotate(4deg);
  font-size: 0.9rem;
}
#redux h1 {
  color: #64ffdb59;
}

.glitch h1 {
  text-align: center;
  color: #64ffdb59;
  letter-spacing: 5px;
  font-family: "Satoshi";
  font-weight: 900;
  /*Create overlap*/

  margin: 0;
  line-height: 0;
  /*Animation*/

  animation: glitch1 2.5s infinite;
}

.glitch h1:nth-child(2) {
  color: #64ffdb59;
  animation: glitch2 2.5s infinite;
}

.glitch h1:nth-child(3) {
  color: #64ffdb59;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
